
<div class="container-sm">
  <!-- nav-bar -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/img/logo_navbar.png" alt="" width="50" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin: 0 auto;">
          <li class="nav-item pd-10px">
            <a class="nav-link fs-30px" aria-current="page" href="/injection-information">Thông tin tiêm chủng</a>
          </li>
          <li class="nav-item pd-10px">
            <a class="nav-link fs-30px active" href="#">Phiếu chỉ tiêm chủng</a>
          </li>

        </ul>
        <div class="infor-user">
          <div class="infor-user-left">
            <p style="line-height: 1.5; margin: 0; font-size: 20px; font-weight: bold;">Nguyễn Văn A</p>
            <p style="line-height: 1.5; margin: 0; font-size: 15px; color: #52D0F0;">Bác sĩ</p>
          </div>
          <div class="infor-user-right">
            <div class="infor-user-img">
              <img src="/img/avatar-doctor.avif" alt="">
            </div>
            <div class="sign-out-btn">
              <i class="bi bi-box-arrow-right" style="font-size: 22px; color: #52D0F0; display: block;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- end nav-bar  -->

  <!-- content  -->
  <div class="content" style="margin: 100px 0; padding: 0">
    <div class="container about" style="margin-bottom: 100px;">
      <div class="row" style="justify-content: space-evenly;">
        <div class="col" style="margin-bottom:30px">
          
          <div class="form-injection">
            <h3 style="text-align: center; margin-bottom: 70px;">Phiếu Chỉ Định Tiêm</h3>

            <h5>Thông tin khách hàng</h5>
            <div class="mb-3">
              <label for="name" class="form-label">Họ Tên:</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
              <label for="identity-number" class="form-label">CMND</label>
              <input type="text" class="form-control" id="identity-number">
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Địa chỉ:</label>
              <input type="text" class="form-control" id="address">
            </div>
            <div class="mb-3">
              <label for="injectionDate" class="form-label">Đã được tiêm từ ngày:</label>
              <input type="date" class="form-control" id="injectionDate">
            </div>

            <h5 style="margin-top:30px;">Thông Tin Tiêm</h5>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="vaccineName" class="form-label">Tên vaccine</label>
                  <input type="text" class="form-control" id="vaccineName">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="amountOfPackage" class="form-label">Số gói</label>
                  <input type="number" class="form-control" id="amountOfPackage">
                </div>
              </div>
            </div>
            
            <h5 style="margin-top:70px;">Kết luận</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="condition1">
              <label class="form-check-label" for="condition1">
                Đã đủ điều kiện tiêm chủng ngay, tất cả KHÔNG có điểm bất thường, KHÔNG chống chỉ định vaccine theo nhà sản xuất
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="condition2">
              <label class="form-check-label" for="condition2">
                Trì hoản tiêm khi CÓ đặc điểm bất thường
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="condition3">
              <label class="form-check-label" for="condition3">
                Chỉ định tiêm tại các cơ sở y tế đủ điểu kiện cấp phép bảo vệ
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="condition4">
              <label class="form-check-label" for="condition4">
                Theo dõi 30' sau tiêm
              </label>
            </div>

            <div class="mb-3" style="margin-top: 30px">
              <label for="descripttion" class="form-label" style="font-size: 22px; font-weight: 500">Mô tả</label>
              <textarea class="form-control" id="descripttion" cols="30" rows="10"></textarea>
            </div>

            <div class="row" style="margin-top: 80px">
              <div class="col">
                <div class="mb-3" >
                  <p>Thời gian:...,Ngày...,Tháng...,Năm... </p>
                  <h5>Người thực hiện cấp</h5>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <button class="btn btn-outline-success btn-signin" style="margin-top: 30px" type="submit">Lập phiếu</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content  -->
    </div>
  </div>
</div>
    <!-- footer -->

    <div class="container-fluid footer" style="background-color: #191919; padding: 30px 0;">
      <div class="row" style="justify-content:space-evenly; color: #fff; margin:0">
        <div class="col-md-3" style=" padding: 30px 30px; margin-bottom: 20px;">
          <img src="/img/logo_navbar.png" alt=""
            style="border: 2px solid #fff; border-radius: 5px; margin-bottom: 10px;">
          <p>Lorem ipsum dolor sit amet consectetur .</p>
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="col-md-3" style=" padding: 30px 30px; margin-bottom: 20px; ">
          <h3 style="padding:20px 0; font-weight: bold;">Care Healthier</h3>
          <p>call us: +151-654-6513</p>
          <p>Email: hospital@gmail.com</p>
        </div>
        <div class="col-md-3" style=" padding: 30px 30px; margin-bottom: 20px;">
          <h3 style="padding:20px 0; font-weight: bold;">Adress</h3>
          <p>123 HCM city VietNam</p>
          <p>Email: hospital@gmail.com</p>
        </div>

      </div>
    </div>
    <!-- footer -->
